/*=====common css======*/
body{
    font-family: Microsoft YaHei,sans-serif;
    font-size: 14px;
    color: #333;
}
a{
    color:#333
}
a:hover{
    color: #333;
    text-decoration: none;
}
/*自定义字体*/
@font-face {
    font-family: "wjs_font_icon";
    src: url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../fonts/MiFie-Web-Font.svg') format('svg'),
    url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
    url('../fonts/MiFie-Web-Font.woff') format('woff');
}
/*引用自定义字体类*/
.wjs_icon{
    font-family: wjs_font_icon;
}
/*自定义小图标*/
.wjs_icon_phone::before{
    content:"\e908" ;
}
.wjs_icon_tel::before{
    content:"\e909" ;
}
.wjs_icon_logo::before{
    content: "\e920";
 }
.wjs_icon_word::before{
    content: "\e93e";
}
.wjs_icon_info::before{
    content: "\e903";
}
.wjs_icon_clock::before{
    content: "\e906";
}
.wjs_icon_video::before{
    content: "\e905";
}
.wjs_icon_news_01::before{
    content: "\e90e";
}
.wjs_icon_news_02::before{
    content: "\e90f";
}
.wjs_icon_news_03::before{
    content: "\e910";
}
.wjs_icon_news_04::before{
    content: "\e911";
}

.wjs_icon_partner01::before{
    content:"\e946";
}
.wjs_icon_partner02::before{
    content: "\e92f";
}
.wjs_icon_partner03::before{
    content: "\e92e";
}
.wjs_icon_partner04::before{
    content: "\e92a";
}
.wjs_icon_partner05::before{
    content: "\e929";
}
.wjs_icon_partner06::before{
    content: "\e931";
}
.wjs_icon_partner07::before{
    content: "\e92c";
}
.wjs_icon_partner08::before{
    content: "\e92b";
}
.wjs_icon_partner09::before{
    content: "\e92d";
}


/*=====model css====*/
/*头部*/
.wjs_topBar{
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid #ccc;
}
.wjs_topBar> .container{
    height: 40px;
}
.wjs_topBar> .container> div{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.wjs_topBar> .container> div+div{
    border-left: 1px solid #ccc;
}
/*手机二维码*/
.wjs_code{
    position: relative;
    display: block;
}
.wjs_code img{
    display: none;
}
.wjs_code:hover img{
    display: block;
    position: absolute;
    left: 50%;/*因为超链接是居中的，移父盒子的一半，在移动自身的一半，可以做到对齐*/
    margin-left: -60px;
    top: 40px;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 10000;
    /*或者不需要定位，直接给鼠标经过时，设置图片为行内快即可   */
}
/*自定义按钮组件--头部*/
.wjs_topBar .btn_register{
    padding: 3px 12px;
    background: #e92322;
    border: none;
}
.wjs_topBar .btn_login{
    color: #0f0f0f;
}
.wjs_topBar .btn_login:hover{
    text-decoration: none;
}

/*导航条*/
.navbar{
    margin-bottom: 0;
    z-index: 999;
}
.wjs_nav {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;/*清除空隙*/
    top: 0;/*父元素默认定位是相对定位*/
    border-radius: 0;
}
.wjs_nav .wjs_icon_logo{
    font-size: 50px;
    color: #e92322;
    line-height: 50px;
    vertical-align: middle;
}
.wjs_nav .wjs_icon_word{
    font-size: 36px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

.wjs_nav .navbar-brand {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-brand:hover,
.wjs_nav .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_nav .navbar-text {
    color: #777;
}
.wjs_nav .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_nav .navbar-nav > li > a:hover,
.wjs_nav .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid #e92322;

}
.wjs_nav .navbar-nav > .active > a,
.wjs_nav .navbar-nav > .active > a:hover,
.wjs_nav .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
    border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-nav > .disabled > a,
.wjs_nav .navbar-nav > .disabled > a:hover,
.wjs_nav .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_nav .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}
.wjs_nav .navbar-toggle:hover,
.wjs_nav .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_nav .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_nav .navbar-collapse,
.wjs_nav .navbar-form {
    border-color: #e7e7e7;
}
.wjs_nav .navbar-nav > .open > a,
.wjs_nav .navbar-nav > .open > a:hover,
.wjs_nav .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_nav .navbar-link {
    color: #777;
}
.wjs_nav .navbar-link:hover {
    color: #333;
}
.wjs_nav .btn-link {
    color: #777;
}
.wjs_nav .btn-link:hover,
.wjs_nav .btn-link:focus {
    color: #333;
}
.wjs_nav .btn-link[disabled]:hover,
fieldset[disabled] .wjs_nav .btn-link:hover,
.wjs_nav .btn-link[disabled]:focus,
fieldset[disabled] .wjs_nav .btn-link:focus {
    color: #ccc;
}
/*轮播图样式*/
.wjs_banner{}
.wjs_banner .m_img{
    display: block;
    width: 100%;
}
.wjs_banner .m_img img{
    display: block;
    width: 100%;
}
.wjs_banner .pc_img{
    display: block;
    width: 100%;
    height: 410px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*信息模块*/
.wjs_info{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_info> .container{
    width: 910px;
}
.wjs_info .wjs_icon_info{
    font-size: 24px;
}

.wjs_info> .container>div>a{
    display: block;
    padding: 20px 0;
}
.wjs_info> .container>div>a:hover{
    color: #e92322;
}
/*在小屏的时候设成宽度750*/
@media (min-width: 768px) and (max-width: 992px) {
    .wjs_info> .container{
        width: 750px;
    }
}

.wjs_book{
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_book> .container{
    width: 910px;
}
.wjs_book .wjs_book_soon{
    color: #e92322;
    border-bottom: 1px dashed #e92322;
}
.wjs_book .wjs_icon_clock,
.wjs_book .wjs_icon_video
{
    font-size: 24px;
}
.wjs_book .wjs_book_video:hover{
    text-decoration: none;
    color: #e92322;
}
/*在小屏的时候设成宽度750*/
@media (min-width: 768px) and (max-width: 992px) {
    .wjs_book> .container{
        width: 750px;
    }
}
/*在超小屏的时候设置成100%*/
@media (max-width: 768px) {
    .wjs_book > .container{
        width: 100%;
    }
}


/*产品区块--页签区块定义*/
.wjs_product{
    background: #f5f5f5;
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
}
.wjs_product .wjs_product_parent{
    width: 100%;
    overflow: hidden;
}

.wjs_product .nav-tabs {

    border-bottom: 1px solid #ddd;
}
.wjs_product .nav-tabs > li {
    float: left;
    margin-bottom: 0;
    margin-left: 20px;
}
.wjs_product .nav-tabs > li > a {
    margin-right: 0;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius:0;
}
.wjs_product .nav-tabs > li > a:hover {
    color: #e92322;
    background: none;
}
.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 3px solid #e92322;
}
.wjs_product .nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.wjs_product .nav-tabs.nav-justified > li {
    float: none;
}
.wjs_product .nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.wjs_product .nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .wjs_product .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.wjs_product .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.wjs_product .nav-tabs.nav-justified > .active > a,
.wjs_product .nav-tabs.nav-justified > .active > a:hover,
.wjs_product .nav-tabs.nav-justified > .active > a:focus {

}
@media (min-width: 768px) {
    .wjs_product .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .wjs_product .nav-tabs.nav-justified > .active > a,
    .wjs_product .nav-tabs.nav-justified > .active > a:hover,
    .wjs_product .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
/*金融模块*/
.product-box{
    height: 150px;
    width: 100%;
    display: block;
    margin-top: 20px;
    box-shadow: 3px 3px 3px #d8d8d8;
    background: #fff;

}
.product-box.active{
    background: #e92322;
    color: #fff;
    position: relative;
}
.product-box.active:before{
    content: "\e915";
    font-family: wjs_font_icon;
    font-size: 34px;
    position: absolute;
    left: 0;
    top: -7px;
}
/*两栏自适应*/
.product-box .product-left{
    overflow: hidden;
}
.product-box .product-left h3{
    font-size: 16px;
    margin-top: 10px;
}
.product-box .product-left p{
    font-size: 12px;
    height: 15px;
    overflow: hidden;
    width: 100%;
    margin: 8px 0;
}
.product-box .product-right{
    float: right;
    width: 100px;
    height: 100%;
    text-align: center;
    position: relative;
    border-left: 1px dashed #ccc;
}
.product-box .product-right:before,
.product-box .product-right:after{
    content:"" ;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background: #f5f5f5;
    position: absolute;
    left: -6px;
}
.product-box .product-right:before{
    top: -6px;
    box-shadow: 0 -2px 2px #d8d8d8  inset;
}
.product-box .product-right:after{
    bottom: -6px;
    box-shadow: 0 2px 2px #d8d8d8 inset;
}

.product-box .product-right p:first-of-type{
    margin-top: 30px;
}
.product-box .product-right p:first-of-type b{
    font-size: 44px;
    color: #e92322;
}
.product-box .product-right p:first-of-type sub{
    bottom: 0;
    color: #e92322;
}
/*提示工具*/
.product-box .product-right .wjs-tip{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
}
.wjs-tip span{
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 12px;
}
 .wjs-tip .red-tip{
     color: #e92322;
    border: 1px solid #e92322;
 }
 .wjs-tip .green-tip{
     color: green;
    border: 1px solid green;
 }

 /*新闻模块*/
 .wjs_news{
     padding: 50px 0;
     border-bottom: 1px solid #ccc;
 }
.wjs_news .wjs_news-title{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.wjs_news .wjs_news-title::after{
    content: "";
    position: absolute;
    right: -6px;
    bottom: -3px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

/*新闻字符图块*/

.wjs_news .wjs_icon{
    color: #fff;
    font-size: 30px;
}
.wjs_news .nav-tabs-news {
    border-bottom: none;
}
.wjs_news .tab-pane > ul{
    list-style: none;
}
.wjs_news .tab-pane > ul li{
    padding: 15px 0;
    font-size: 14px;
}
.wjs_news .wjs_news-liner{
    height: 100%;
    width: 1px;
    border-left: 1px dashed #ccc;
    position: absolute;
    left: 45px;
    top: 0;
}
.nav-tabs-news > li {
    float: left;
    margin-bottom:0;
}
/*在小屏设备时，固定间距排列*/
@media (min-width: 768px) and (max-width: 992px) {
    .nav-tabs-news > li > a{
        margin: 30px 50px;
    }
}
/*在超小屏设备时，自适应宽度居中*/
@media  (max-width: 768px) {
    .nav-tabs-news > li {
        width: 25%;
    }
    .wjs_news .nav-tabs-news > li > a {
        display: block;
        margin: 30px auto;
    }
}

.wjs_news .nav-tabs-news > li > a {
    /*margin-right: ;*/
    border: none;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ccc;
    border-radius: 30px;
    margin-bottom: 60px;
}
.nav-tabs-news > li:last-child > a{
    margin-bottom: 0;
}
.nav-tabs-news > li > a:hover {
    background: #e92322;
}
.nav-tabs-news > li.active > a,
.nav-tabs-news > li.active > a:hover,
.nav-tabs-news > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #e92322;
    border:none;
    border-bottom-color: transparent;
}
.nav-tabs-news.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs-news.nav-justified > li {
    float: none;
}
.nav-tabs-news.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs-news.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs-news.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs-news.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs-news.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs-news.nav-justified > .active > a,
.nav-tabs-news.nav-justified > .active > a:hover,
.nav-tabs-news.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav-tabs-news.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-news.nav-justified > .active > a,
    .nav-tabs-news.nav-justified > .active > a:hover,
    .nav-tabs-news.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}

/*合作伙伴*/
.wjs_partner{
    padding: 30px 0;
}
.wjs_partner ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.wjs_partner ul li{
    display: inline-block;
}
.wjs_partner ul li a{
    font-size: 80px;
    margin: 0 20px;
}
.wjs_partner ul li a:hover{
    color: #e92322;
}


